{% extends 'login/base.html' %}
{% block content %}

<div class="container">
    <div class="card signup_card" style="width: 21rem;">
        <div class="card-body">
          <h5 class="card-title">Sign up</h5>
          <h6 class="card-subtitle mb-2 text-muted">모든 항목을 채워주시기 바랍니다.</h6>
          <form method="POST" action="{%url 'signup'%}">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">ID</label>
                <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="password1" type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword2">Confirm Password</label>
                  <input name="password2" type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">이름</label>
                  <input name="name" type="text" class="form-control" id="exampleInputPassword1">
              </div>
            <input type="submit" class="btn btn-primary" value="회원가입">
            <a href="/"class="btn btn-primary">돌아가기</a>
        </form>
        </div>
      </div>
</div>
{% endblock %}