<!DOCTYPE html>
<html lang="en">
<head>
  <title>STOCK  MANAGEMENT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
        
        {% for x in user_list %}
        <tr> 
            <td><B>USER_NAME</B></td>
        </tr> 
        
            <td><B>소개</B></td>
        {% endfor %}
        </thead>
        <tbody>
    </table>
</body>